<!DOCTYPE html>
<html>

<head>
  <script src="jobs.js"></script>
  <style type="text/css"></style>
  <link href="main.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script src="jobs.js"></script>
</head>

<body>

  <div class="page-background">

  <div class="page-container">

    <!-- NAVIGATION BAR -->
    <div class="nav-bar">

      <a href="/">
        <img
          class="next-logo"
          src="/assets/Next-Canada-RGB.png"
          alt=""/>
      </a>
      <div class="hamburger-menu">
        <a class="nav-button" style="color: #D8272D; font-weight: 700;" href="./jobs">Jobs</a>
        <a class="nav-button" href="./candidates">Candidates</a>
        <a class="nav-button" href="./account">Account</a>
        <a class="nav-button" href="/logout" data-method="delete">Log Out</a>
      </div>

    </div>


    <div class="content-container" style="margin-top: 50px">

      <!-- PAGE HEADER -->
      <div class="page-header__container">
        <div class="page-header h-1">
          Jobs
        </div>
        <div class="page-header h-2">
          Work for a Next Alumni Company
        </div>

        <button
          class="create-button"
          id="post-job"
          onclick="openPostJobPop()">
          Post Job
        </button>
      </div>

      <!-- PAGE CONTENT - FROM ACCOUNT -->

      <!-- PAGE CONTENT - FROM PUBLIC -->
      <div class="post-list-container">

        <!-- EXAMPLE OR A USER-OWNED POST -->

        <div class="post-container post-owned">

          <div class="post-container__left">
            <div class="post-info__wrapper post-title">
              Job Title
            </div>
            <div class="post-info__wrapper poster-name">
              Company Name
            </div>
            <div class="post-info__wrapper post-note">
              Note / Bio / Description
            </div>
          </div>

          <div class="post-container__right">
            <div class="post-info__wrapper">
              <div class="post-action__item"> Edit </div>
              <i
                class="fas fa-trash post-action__item"
                style="margin-left: 20px;">
              </i>
            </div>
            <div class="post-info__wrapper">
              <div class="job-category job-category__active">
                Marketing
              </div>
              <div class="job-category job-category__inactive">
                Tech
              </div>
              <div class="job-category job-category__inactive">
                Finance
              </div>
            </div>
            <div class="post-info__wrapper post-action__item">
              Link to Job Posting
              <i class="fas fa-external-link-alt" style="margin-left: 20px;"></i>
            </div>
          </div>
        </div>

        <!-- EXAMPLE OR A PUBLIC POST -->

        <div class="post-container post-public">

          <div class="post-container__left">
            <div class="post-info__wrapper post-title">
              Job Title
            </div>
            <div class="post-info__wrapper poster-name">
              Company Name
            </div>
            <div class="post-info__wrapper post-note">
              Note / Bio / Description
            </div>
          </div>

          <div class="post-container__right">
            <div class="post-info__wrapper">
              <i
                class="fas fa-chevron-down post-action__item"
                style="margin-left: 20px;">
              </i>
            </div>
            <div class="post-info__wrapper">
              <div class="job-category job-category__inactive">
                Marketing
              </div>
              <div class="job-category job-category__inactive">
                Tech
              </div>
              <div class="job-category job-category__active">
                Finance
              </div>
            </div>
            <div class="post-info__wrapper post-action__item">
              Link to Job Posting
              <i class="fas fa-external-link-alt" style="margin-left: 20px;"></i>
            </div>
          </div>
        </div>

        </div>
      </div>

    </div>

   </div>

   <div class="pop-box-overlay" id="post-job-pop">
    <div class="pop-box-display-wrapper">
      <div class="pop-box-container">
        <div class="close-pop-container">
          <div class="close-pop-button" onclick="closePostJobPop()">
            <i class="fas fa-times"></i>
          </div>

          <div class="post-job-pop-title">
            Make a Job Posting
          </div>

        </div>

        <div class="form-container">
          <form action="/post-job-page.php">
            <div class="post-job__row">
              <div class="post-job__variable">
                Job Title
              </div>
              <input
                class="post-job__value"
                type="text" name="Email"
                placeholder="ie/ Frontend Developer / Co-Founder">
              <br>
            </div>

            <div class="post-job__row">
              <div class="post-job__variable">
                Company Name
              </div>
              <input
                class="post-job__value"
                type="text" name="Email"
                placeholder="ie/ Company XYZ Inc.">
              <br>
            </div>

            <div class="post-job__row">
              <div class="post-job__variable">
                Company Website
              </div>
              <input
                class="post-job__value"
                type="text" name="Email"
                placeholder="ie/ https://www.companyxyz.com">
              <br>
            </div>

            <div class="post-job__row">
              <div class="post-job__variable">
                Link to Job Posting
              </div>
              <input
                class="post-job__value"
                type="text" name="Email"
                placeholder="ie/ Copy and paste the link to your angelist job posting.">
              <br>
            </div>

            <div class="post-job__row__column">
              <div class="post-job__variable__2">
                Type of Role
              </div>
              <div class="radio-row">
                <input type="radio" class="radio-button" name="marketing" value="male">
                  <div class="post-job__value__2">
                    Marketing
                  </div>
                <br>
              </div>
              <div class="radio-row">
                <input type="radio" class="radio-button" name="tech" value="male">
                  <div class="post-job__value__2">
                    Tech
                  </div>
                <br>
              </div>
              <div class="radio-row">
                <input type="radio" class="radio-button" name="finance" value="male">
                  <div class="post-job__value__2">
                    Finance
                  </div>
                <br>
              </div>
              <div class="radio-row">
                <input type="radio" class="radio-button" name="people" value="male">
                  <div class="post-job__value__2">
                    People
                  </div>
                <br>
              </div>
            </div>


            <div class="post-job__row">
              <div class="post-job__variable">
                Notes
              </div>
              <input
                class="post-job__value"
                type="text" name="Email"
                placeholder="ie/ Company bio, job description, etc.">
              <br>
            </div>

            <div class="post-job__row row-reverse">
              <input class="submit__button" type="submit" value="Post Job">
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  </div>

</body>

</html>