<div class="post-info__wrapper">
  <div class="job-category job-category--marketing">
    Marketing
  </div>
  <!-- <div class="job-category job-category__inactive">
    Tech
  </div>
  <div class="job-category job-category__inactive">
    Finance
  </div> -->
</div>